<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <connectionStrings>
    <add name="HospiNetEntities" connectionString="metadata=res://*/HospiNetDatabase.csdl|res://*/HospiNetDatabase.ssdl|res://*/HospiNetDatabase.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=SHADOW-46ROSVSD\LOCAL;initial catalog=HospiNet;persist security info=True;user id=sa;password=azerty;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="HospiNetEntitiesPatient" connectionString="metadata=res://*/HospiNetDatabasePatient.csdl|res://*/HospiNetDatabasePatient.ssdl|res://*/HospiNetDatabasePatient.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=SHADOW-46ROSVSD\LOCAL;initial catalog=HospiNet;persist security info=True;user id=patient;password=azerty;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="HospiNetEntitiesDoctor" connectionString="metadata=res://*/HospiNetDatabaseDoctor.csdl|res://*/HospiNetDatabaseDoctor.ssdl|res://*/HospiNetDatabaseDoctor.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=SHADOW-46ROSVSD\LOCAL;initial catalog=HospiNet;persist security info=True;user id=doctor;password=azerty;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>